@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
    font-family: 'Cascadia Mono';
    src: url('resources/fonts/CascadiaMono.woff2') format('woff2')
}

@font-face {
    font-family: 'Cascadia Mono Italic';
    src: url('resources/fonts/CascadiaMonoItalic.woff2') format('woff2')
}

/**
 * Color pallete
 */
:root {
    --background_color: #1f1f1f;
    --foreground_color: #f9f5d7;
    --accent_color: #83a598;
}

html, body {
    background-color: var(--background_color);
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.text-body {
    margin: auto;
    padding-top: 25vh;
    text-align: center;
    width: 90%;
}

.accent {
    color: var(--accent_color);
}

/**
 * Name container
 */
.name-container {
    font-family: 'Cascadia Mono Italic', monospaced;
    font-size: 4rem;
    padding-bottom: 3vh;
    text-align: center;
}
.name-container .name {
    color: var(--foreground_color);
}
.name-container .bracket {
    font-size: 5rem;
}
.name-container .short {
    display: none;
}

/**
 * Links container
 */
.links-container .header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.links-container .links-group {
    display: flex;
    font-family: 'Cascadia Mono', monospaced;
    justify-content: center;
    line-height: 3rem;
    padding-bottom: 2vh;
}
.links-container .links-group .link {
    height: 3rem;
    padding: 0 1.5rem;
    text-align: center;
}
.links-container .links-group .link a {
    color: var(--foreground_color);
    font-size: 1.75rem;
    text-decoration: none;
    transition: all .2s;
}
.links-container .links-group .link a:hover {
    font-size: 2rem;
    cursor: pointer;
}

/**
 * Logo
 */
.logo {
    padding-top: 10vh;
    text-align: center;
}
.logo img {
    background-color: var(--foreground_color);
    border-radius: 100px;
    height: 50px;
    opacity: 0.5;
}
.logo img:hover {
    opacity: 1;
}

/**
 * Mobile view
 */
@media only screen and (max-width: 876px) {
    /**
     * Name container
     */
    .name-container .bracket {
        margin: 0 -1rem;
    }
    .name-container .short {
        display: inline;
    }
    .name-container .long {
        display: none;
    }

    /**
     * Links container
     */
    .links-container .links-group {
        flex-direction: column;
    }
    .links-container .links-group .link a {
        font-size: 1.5rem;
    }
    .links-container .links-group .link a:hover {
        font-size: 1.75rem;
    }
}
