@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --bg: #1b1b1b;
    --white: #ebdbb2;
    --red: #cc241d;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --mono-font: 'Courier Prime', monospace;
}

body {
    margin: auto;
    text-align: center;
    font-family: var(--mono-font);
    background: var(--bg);
    user-select: none;
}

#nametag {
    padding-top: 25vh;
    font-size: 3.5em;
    color: var(--blue);
}
#nametag .john {
    font-size: 1.1em;
    color: var(--yellow);
}
#nametag .bracket {
    font-size: 1.4em;
    color: var(--red);
}

#links {
    font-size: 2em;
}
#links a {
    display: block;
    width: 5em;
    margin: auto;
    padding: 0.3em;
    color: var(--white);
    text-decoration: none;
}
#links a:hover {
    color: var(--purple);
}

@media only screen and (max-width: 56em) {
    #nametag {
        padding-top: 15vh;
    }
    #nametag .block {
        display: block;
    }
    #links a {
        font-size: 1.3em;
    }
}
