@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --bg: #222222;
    --green: #a3be8c;
    --cyan: #88c0d0;
    --blue: #5e81ac;
    --white: #d8dee9;
    --mono-font: 'Courier Prime', monospace;
}

body {
    margin: auto;
    text-align: center;
    font-family: var(--mono-font);
    background: var(--bg);
    user-select: none;
}

#swatches {
    padding-top: 20vh;
    font-size: 1.5em;
    letter-spacing: -0.1em;
}
#swatches .mid {
    color: var(--green);
}
#swatches .out1 {
    color: var(--cyan);
}
#swatches .out2 {
    color: var(--blue);
}
#swatches .out3 {
    color: var(--white);
}

#nametag {
    padding-top: 5vh;
    font-size: 3.5em;
    color: var(--blue);
}
#nametag .john {
    font-size: 1.1em;
    color: var(--green);
}
#nametag .bracket {
    font-size: 1.4em;
    color: var(--cyan);
}

#links {
    padding-top: 3vh;
    font-size: 2em;
}
#links a {
    display: block;
    width: 5em;
    margin: auto;
    padding: 0.3em;
    color: var(--white);
    text-decoration: none;
}
#links a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 56em) {
    #swatches {
        padding-top: 10vh;
    }
    #nametag .block {
        display: block;
    }
    #links a {
        font-size: 1.2em;
    }
}
