@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --bg: #0b0b0b;
    --green: #a3be8c;
    --cyan: #88c0d0;
    --blue: #5e81ac;
    --white: #d8dee9;
    --mono-font: 'Courier Prime', monospace;
}

body {
    margin: auto;
    text-align: center;
    font-family: var(--mono-font);
    background: var(--bg);
    user-select: none;
}

#swatches {
    padding-top: 20vh;
    font-size: 1.5em;
    letter-spacing: -0.1em;
}
.mid {
    color: var(--green);
}
.out1 {
    color: var(--cyan);
}
.out2 {
    color: var(--blue);
}
.out3 {
    color: var(--white);
}

#nametag, #nametag-condensed {
    padding-top: 5vh;
    font-size: 3.5em;
    color: var(--blue);
}
#nametag-condensed {
    display: none;
    font-size: 3em;
}
.john {
    font-size: 1.1em;
    color: var(--green);
}
.bracket {
    font-size: 1.4em;
    color: var(--cyan);
}

#links {
    padding-top: 3vh;
    font-size: 2em;
}
a {
    display: block;
    width: 5em;
    margin: auto;
    padding: 0.3em;
    color: var(--white);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media only screen and (orientation: portrait), (max-width: 56em) {
    #swatches {
        font-size: 1.7em;
        padding-top: 10vh;
    }
    #nametag {
        display: none;
    }
    #nametag-condensed {
        display: block;
    }
    #links a {
        font-size: 1.1em;
        padding: 0.7em;
    }
}
