:root {
    --main-bg-color: #1a1a1a;
    --kary-red: #d38569;
	--kary-orange: #d28468;
	--kary-green: #789f6b;
	--kary-blue: #819dc2;
	--kary-purple: #b98eb2;
}

body {
    background: var(--main-bg-color);
}

#header {
    text-align: center;
    padding: 50px;
    font-family: 'Fira Mono', monospace;
}

a {
    color: var(--kary-orange);
    font-size: 15px;
}

a:visited {
    color: var(--kary-orange);
    text-decoration: none;
}

h1 {
    color: var(--kary-green);
    font-size: 50px;
}

h2 {
    color: var(--kary-blue);
    font-size:20px;
}
