/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

/* colors */
:root {
    --bg: #1b1b1b;
    --fg: #ebdbb2;
    --grey: #928374;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
}

/* default theme and font */
body {
    font-family: 'Courier Prime', monospace;
    color: var(--fg);
    background: var(--bg);
}

/* horizontally center everything */
#logo, #header, #links {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 1em;
}

/* logo button and command box */
#logo button {
    all: unset;
    width: 1em;
    font-family: 'Seaweed Script', cursive;
    font-size: 10em;
    color: var(--red);
    transition: transform .2s;
    cursor: pointer;
}
#logo button:hover {
    transform: scale(1.25);
}
#logo input {
    display: none;
    position: relative;
    top: -1em;
    width: 30%;
    font-size: 1.4em;
    font-family: 'Courier Prime', monospace;
    color: var(--fg);
    background: var(--bg);
    border: none;
}

/* header text */
#header h1 {
    font-size: 2.5em;
    color: var(--blue);
}
#header h2 {
    font-size: 1.5em;
    color: var(--yellow);
}
#header h1 span {
    color: var(--yellow);
    font-size: 1.3em;
}
#header h2 span {
    color: var(--blue);
    font-size: 1.3em;
}

/* links icons */
#links a {
    text-decoration: none;
}
#links img {
    width: 5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: transform .2s;
}
#links img:hover {
    transform: scale(1.1);
}

/* header text */
#header h1 {
    font-size: 2.5em;
    color: var(--blue);
}
#header h2 {
    font-size: 1.5em;
    color: var(--yellow);
}
#header h1 span {
    color: var(--yellow);
    font-size: 1.3em;
}
#header h2 span {
    color: var(--blue);
    font-size: 1.3em;
}

/* links icons */
#links a {
    text-decoration: none;
}
#links img {
    width: 5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: transform .2s;
    color: green;
}
#links img:hover {
    transform: scale(1.1);
}
