/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

/* colors and fonts variables */
:root {
    --bg-color: #1b1b1b;
    --fg-color: #ebdbb2;
    --grey-color: #928374;
    --red-color: #cc241d;
    --green-color: #98971a;
    --yellow-color: #d79921;
    --blue-color: #458588;
    --purple-color: #b16286;
    --aqua-color: #689d6a;
    --orange-color: #d65d0e;
    --mono-font: 'Courier Prime', monospace;
    --initials-font: 'Dancing Script', cursive;
    --handwrite-font: 'Caveat', monospace;
}

/* default theme and font */
body {
    font-family: var(--mono-font);
    color: var(--fg-color);
    background: var(--bg-color);
}

/* horizontally center everything */
#initials, #cmdbox, #nametag, #links {
    text-align: center;
    margin: auto;
    padding: 1em;
}

/* initials button */
#initials button {
    all: unset;
    width: 1em;
    font-family: var(--initials-font);
    font-size: 10em;
    color: var(--red-color);
    transition: transform .2s;
    cursor: pointer;
    user-select: none;
}
#initials button:hover {
    transform: scale(1.1);
}

/* command box */
#cmdbox {
    display: none;
}
#cmdbox label {
    font-size: 1.5em;
}
#cmdbox input {
    width: 20em;
    font-family: var(--mono-font);
    font-size: 1.3em;
    color: var(--fg-color);
    background: var(--bg-color);
    outline: none;
    border: none;
}

/* nametag text */
#nametag h1 {
    font-size: 2.5em;
    color: var(--blue-color);
}
#nametag h1 .bracket {
    font-size: 1.3em;
    color: var(--purple-color);
}
#nametag h1 .john {
    font-size: 1.1em;
    color: var(--yellow-color);
}

/* links icons */
#links a {
    text-decoration: none;
}
#links img {
    width: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transition: transform .2s;
}
#links img:hover {
    transform: scale(1.1);
}
