@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

:root {
    --bg: #1b1b1b;
    --fg: #ebdbb2;
    --grey: #928374;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
}
body {
    font-family: 'Courier Prime', monospace;
    color: var(--fg);
    background: var(--bg);
}
#header, #links, #placeholder {
    text-align: center;
    margin: auto;
    padding: 1em;
}
#header h1 {
    font-family: 'Seaweed Script', cursive;
    font-size: 10em;
    color: var(--red);
}
#header h2 {
    font-size: 2.5em;
    color: var(--blue);
}
#header h3 {
    font-size: 1.5em;
    color: var(--yellow);
}
#header h2 span {
    color: var(--yellow);
    font-size: 1.3em;
}
#header h3 span {
    color: var(--blue);
    font-size: 1.3em;
}
#links span {
    padding: 1em;
}
#links a {
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    font-size: 1.1em;
    vertical-align: middle;
    color: var(--bg);
    background: var(--purple);
    text-decoration: none;
    transition: transform .2s;
}
#links a:hover {
    transform: scale(1.1);
}
